@font-face {
  font-family: "Syne-Regular";
  src: url(~@/assets/fonts/syne/Syne-Regular.woff2) format("woff2"),
    url(~@/assets/fonts/syne/Syne-Regular.woff) format("woff");
}

@font-face {
  font-family: "Syne-Bold";
  src: url(~@/assets/fonts/syne/Syne-Bold.woff2) format("woff2"),
    url(~@/assets/fonts/syne/Syne-Bold.woff) format("woff");
}

@font-face {
  font-family: "Syne-Extra";
  src: url(~@/assets/fonts/syne/Syne-Extra.woff2) format("woff2"),
    url(~@/assets/fonts/syne/Syne-Extra.woff) format("woff");
}